{% extends "base.html" %}

{% block header %}
  <h1>{% block title %} {{ user.fname }} {{user.lname}} {% endblock %}</h1>
{% endblock %}

{% block content %}
<script>
	context = {
		order: "{{ order }}",
	};
</script>

<div class="text-dark hall-page-text">
<div class="container mt-3">
			<p><span class="fw-bold">Number of reviews made:</span> {{num_reviews}}</p>
			<p><span class="fw-bold">Average review rating:</span> {{avg_rating}}</p>	
			<p><span class="fw-bold">Favorite food:</span> {% if user.fav_foodname %} {{user.fav_foodname}} from {{user.fav_foodhallname}}
			{% else %}N/A{% endif %}
			{% if g.user["email"]==user.email%} <a href="{{url_for('profile.edit_profile', email=g.user['email'])}}">edit</a> {% endif%} </p>

			<h2 class="text-center my-3">Reviews by {{ user.fname }} {{user.lname}}</h2>

			<form method="POST" action="{{ url_for('profile.update_order', email=email) }}">
				<div class="btn-group btn-group-toggle" data-toggle="buttons">
				  <label class="btn btn-secondary" id="newestBtnLabel">
				    <input type="radio" name="options" id="newestBtn" autocomplete="off" value="newest"> Newest
				  </label>
				  <label class="btn btn-secondary" id="popBtnLabel">
				    <input type="radio" name="options" id="popBtn" autocomplete="off" value="popular"> Most Popular
				  </label>
				</div>
				<span><button class="update_order_btn" type="submit">Update order</button></span>
			</form>			

			
    	{% for review in reviews %}
				<div class="card my-2">
				  <div class="card-header">
				  	<span class="fw-bold">Review of {{review.hallname}}</span>
				  	<span class="text-right">{{review.time}}</span>
				  </div>
				  <div class="card-body">
				  	<div class="row">
				  		<div class="col-sm-5"> 
						  	<p class="fw-bold">Rating: {{review.rating}}<p>
						  	<div class="mt-3">
						    <span class="fw-bold">{{review.like_number}} Likes</span>
						    <a href="{{ url_for('reviews.increment', email=email, time=review.time, hallname=review.hallname, order=order, from_page='profile') }}" class="btn btn-secondary mx-3">
						    	{% if review.liker_email %}un{% endif %}like
						    </a>
						    </div>			  		
					  	</div>

					  	<div class="col-sm"> 
						    <p class="card-text">{{review.comment}}</p>
						</div>
				    </div>
				  </div>
				</div>
			{% endfor %}

</div>

</div>

<script src="{{ url_for('static', filename='reviews.js')}}"></script>
{% endblock %}